@tailwind base;
@tailwind components;
@tailwind utilities;

.team-member:nth-child(even) {
    @apply self-end
}

.prose a {
    word-break: break-word;
}

h1, h2, h3, h4 {
    @apply font-header;
}

.prose > iframe,
.embed-video {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    width: 560px;
}

.borderGradient {
    border-image-slice: 1;
    border-image-source: conic-gradient(from 180deg at 50% 50%, #21397B 0deg, rgba(8, 24, 89, 0) 360deg);
}

.underlineOffset {
    text-underline-offset: 6px;
}
